*.iml
*.tmp
*.DS_Store
*.tmp.obo
*.tmp.owl
*.idea
src/ontology/module/temp
src/ontology/other_ontology
src/main/scripts/__pycache__
out
target
src/main/resources/scripts/TextMining.py
src/main/resources/scripts/__pycache__/
src/main/resources/Ontology_Terms/Multithreading_test/
src/main/resources/Other_ontologies
src/ontology/mirror
src/ontology/mirror/*
src/ontology/maxo.owl
src/ontology/maxo-edit.properties
src/ontology/maxo-edit.obda
src/ontology/maxo.obo
src/ontology/maxo.json
src/ontology/maxo-edit.properties
src/ontology/maxo-edit.obda
src/ontology/maxo-base.*
src/ontology/maxo-basic.*
src/ontology/maxo-full.*
src/ontology/maxo-simple.*
src/ontology/maxo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
