src/testcode.py
resource/utils/test.py
resource/gene_NBK1116/textoutput.txt
resource/utils/TextMining.py
resource/utils/__pycache__/
resource/Other_ontologies/
resource/utils/sentOrigin.py
resource/Ontology_Terms/Multithreading_test/
